# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.zip
*.tar.gz
*.tar

# virtual machine crash logs
hs_err_pid*

# Misc: Intellij Idea,Mac OS
/.idea/
/maven/.idea/
*.iml
.DS_Store

maven/target
maven/src
maven/pom.xml
